.button {
    font-size: 1.5rem;
    padding: 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;
    /* flex: 1 1 20%; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: 1s all;
}

.button:hover {
    transform: sacle(1.05);
    transition: 0.3s all;
}

.button.number {
    background-color: #333;
    color: #fff;
}

.button.number:hover {
    background-color: #444;
}

.button.operator {
    background-color: #ff9500;
    color: #fff;
}

.button.operator:hover {
    background-color: #ffac33;
    
}

.button.special {
    background-color: #a6a6a6;
    color: #000;
}

.button.button.special:hover {
    background-color: #b8b8b8;
}

.button.double {
    padding-right: 100px;
    grid-column: span 2;
    border-radius: 40px;
}