* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(140deg, hsl(240, 1%, 34%), hsl(0, 0%, 14%));
}

.calculator {
  padding: 20px;
  border-radius: 20px;
  background-color: hsl(0, 0%, 10%);
}

form input {
  border: none;
  outline: 0;
  width: 60px;
  height: 60px;
  margin: 4px;
  font-size: 25px;
  font-weight: 500;
  border-radius: 50%;
  background-color: hsl(0, 0%, 20%);
  color: #fff;
  cursor: pointer;
  transition: ease .5s all;
}

form input[type="text"] {
  border-radius: 0;
}

form input[type="button"]:hover {
  background-color: hsl(0, 0%, 67%);
  transition: ease .5s all;
}

form .display {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}

form .display input {
  text-align: right;
  flex: 1;
  font-size: 50px;
  padding: 20px;
  background-color: transparent;
}

form .firstrow input {
  background-color: hsl(0, 0%, 50%);
  color: black;
}

.firstrow .divide-btn {
  background-color: hsl(35, 100%, 50%);
  color: #fff;
}

.multiply-btn, .minus-btn, .plus-btn, .equal-btn {
  background-color: hsl(35, 100%, 50%);
}

.numberoh {
  width: 130px;
  border-radius: 30px;
  text-align: start;
  padding-left: 20px
}